        <!--================Instagram Area =================-->
        <section class="instagram_area">
            <div class="container box_1620">
                <div class="insta_btn">
                    <a class="btn theme_btn" href="https://www.instagram.com/_kardeslermetal_/?hl=tr">Bizi İnstagram'dan Takip Edin </a>
                </div>
                <div class="instagram_image row m0">
                    <a href="#"><img src="/img/instagram/ins-1.jpg" alt=""></a>
                    <a href="#"><img src="/img/instagram/ins-2.jpg" alt=""></a>
                    <a href="#"><img src="/img/instagram/ins-3.jpg" alt=""></a>
                    <a href="#"><img src="/img/instagram/ins-4.jpg" alt=""></a>
                    <a href="#"><img src="/img/instagram/ins-5.jpg" alt=""></a>
                    <a href="#"><img src="/img/instagram/ins-6.jpg" alt=""></a>
                </div>
            </div>
        </section>
        <!--================End Instagram Area =================-->
        
     
                     <!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="container">
                <div class="row footer_inner">
                    <div class="col-lg-7 col-sm-6">
                        <aside class="f_widget ab_widget">
                            <div class="f_title">
                                <h3>Vizyonumuz</h3>
                            </div>
                            <p>Outhor :</p>
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>   <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/https://colorlib.com" target="_blank">Erkan Kızgın</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                             </p>
                        </aside>
                    </div>
                    
                    <div class="col-lg-2">
                        <aside class="f_widget social_widget">
                            <div class="f_title">
                                <h3>Bizi Takip Edin</h3>
                            </div>
                            <p>
                                Sosyal Kalın.
                            </p>
                            <ul class="list">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/_kardeslermetal_/?hl=tr"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->

        
        
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="vendors/counter-up/jquery.counterup.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/theme.js"></script>
    </body>
</html>