<% include ./partials/header %>
        
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
           	<div class="box_1620">
           		<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
							<h3>Ramazanoğulları<br><br>Hurda-Metal</h3>
							<a class="main_btn" method="get" href="galeri">Galeriyi Görüntüle</a>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Home Blog Area =================-->
        <section class="home_blog_area pad_top">
        	<div class="container">
        		<div class="home_blog_inner">
        			<div class="row h_blog_item">
        				<div class="col-lg-6">
							<div class="h_blog_img">
								<img class="img-fluid" src="img/home-blog/h-blog-1.jpg" alt="">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="h_blog_text">
								<div class="h_blog_text_inner left">
									<h4>Alüminyum</h4>
									<p>Alüminyum gümüş rengi sünek bir metaldir. Yumuşak ve esnek yapılı bir metal olan alüminyum kolayca dövülebilir, işlenebilir ve şekillendirilebilir. Yoğunluğu düşük bir malzeme olduğu için hafiftir. Zehirleyici ya da manyetik olmayan alüminyum, korozyona karşı yüksek dayanıklılığı olan bir metaldir. Alüminyum tüm bu özellikleri ile endüstrinin hemen hemen her alanında kullanılabilir ve dünya ekonomisi için de çok önemli bir malzemedir.
									</p>
									<a class="main_btn2" method="get" href="galeri">Galeriyi Görüntüle</a>
								</div>
							</div>
						</div>
        			</div>
        			<div class="row h_blog_item">
        				<div class="col-lg-6">
							<div class="h_blog_img">
								<img class="img-fluid" src="img/home-blog/h-blog-2.jpg" alt="">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="h_blog_text">
								<div class="h_blog_text_inner right">
									<h4>Bakır</h4>
									<p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini </p>
									<a class="main_btn2" method="get" href="galeri">Galeriyi Görüntüle</a>
								</div>
							</div>
						</div>
						
        			</div>
        			<div class="row h_blog_item">
        				<div class="col-lg-6">
							<div class="h_blog_img">
								<img class="img-fluid" src="img/home-blog/h-blog-3.jpg" alt="">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="h_blog_text">
								<div class="h_blog_text_inner left">
									<h4>Krom</h4>
									<p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini </p>
									<a class="main_btn2" href="galeri" method="get">Galeriyi Görüntüle</a>
								</div>
							</div>
						</div>
        			</div>
        			<div class="row h_blog_item">
        				<div class="col-lg-6">
							<div class="h_blog_img">
								<img class="img-fluid" src="img/home-blog/h-blog-4.jpg" alt="">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="h_blog_text">
								<div class="h_blog_text_inner right">
									<h4>Sarı Hurda</h4>
									<p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini </p>
									<a class="main_btn2" method="get" href="galeri">Galeriyi Görüntüle</a>
								</div>
							</div>
						</div>
						
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Home Blog Area =================-->
        
        <!--================Service Area =================-->
        <section class="service_area p_120">
        	<div class="container box_1620">
        		<div class="main_title">
        			<h2>Memnuniyetiniz Önceliğimizdir</h2>
        		</div>
        		<div class="row m0 service_inner">
        			<div class="col-lg-3 col-md-6 p0">
        				<div class="service_img">
        					<img class="img-fluid" src="img/service/service-1.jpg" alt="">
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6 p0">
        				<div class="service_text">
        					<h4>Fiyat İçin<br />Arayınız</h4>
        					<p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacıini </p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6 p0">
        				<div class="service_img">
        					<img class="img-fluid" src="img/service/service-2.jpg" alt="">
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6 p0">
        				<div class="service_text">
        					<h4>Fiyat İçin<br />Arayınız</h4>
        					<p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaerisini </p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6 p0">
        				<div class="service_text">
        					<h4>Fiyat İçin<br />Arayınız</h4>
        					<p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacınbir yazı galerisini </p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6 p0">
        				<div class="service_img">
        					<img class="img-fluid" src="img/service/service-3.jpg" alt="">
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6 p0">
        				<div class="service_text">
        					<h4>Fiyat İçin<br />Arayınız</h4>
        					<p>Lorem Ipsum, dizgi ve  oluşturmak üzere bir yazı galerisini </p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6 p0">
        				<div class="service_img">
        					<img class="img-fluid" src="img/service/service-4.jpg" alt="">
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Service Area =================-->
        
        <!--================Feedback Area =================-->
        <section class="feedback_area pad_bt">
        	<div class="container">
        		<div class="feedback_inner p_100">
        			<div class="row">
        				
        				<div class="col-lg-10">
							<div class="testi_slider_inner">
								<div class="testi_slider owl-carousel">
									<div class="item">
										<div class="media">
											<div class="d-flex">
												<img src="img/testimonials/testi-1.jpg" alt="">
											</div>
											<div class="media-body">
												<p>Ürününüzü Değerinde Alan ve Ürününüzden Çok Sizleri Önemseyen Çalışanlar</p>
												<h4>Caner Ramazanoğulları</h4>
												<h5>Firma Sahibi</h5>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="media">
											<div class="d-flex">
												<img src="img/testimonials/testi-1.jpg" alt="">
											</div>
											<div class="media-body">
												<p>“Ürününüzü Değerinde Alan ve Ürününüzden Çok Sizleri Önemseyen Çalışanlar”.</p>
												<h4>Canerin Babası</h4>
												<h5>CEO at Google</h5>
											</div>
										</div>
									</div>						
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Feedback Area =================-->
        
<% include ./partials/footer %>